body {
  height: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

html {
  position: fixed;

  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
main {
  padding-top: 1%;
  padding-left: 16%;
  background-color: #778da9;
  color: white;
  height: 100%;
}
